<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update User</h4>
</div>
<div class="modal-body">
  <form #Uuser="ngForm" (ngSubmit)="updateUser(Uuser.value)">
    <div class="form-group">
      <label>Firstname:</label>
      <input class="form-control"  name="firstName" [(ngModel)]="firstName" />
    </div>
    <div class="form-group">
      <label>Lastname:</label>
      <input class="form-control" name="lastName" [(ngModel)]="lastName"/>
    </div>
    <div class="form-group">
      <label>Occupation:</label>
      <input class="form-control" name="occupation" [(ngModel)]="occupation"/>
    </div>
    <button
    type="button"
    class="btn btn-secondary"
    (click)="close()"
  >
    Cancel
  </button>
  <button type="submit" class="btn btn-dark ">
    Save
  </button>
  </form>
</div>
